.container {
  @include flex-center(row);
  flex-wrap: wrap;
  align-items: flex-start;
}

.box {
  height: fit-content;
  width: 400px;
  background-color: aqua;
  border: 0.2rem solid orange;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;
  & img {
    height: 350px;
    width: 450px;
  }
}

.content {
  padding: 1rem;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.body {
  font-size: 1rem;
}
