.container {
  @include flex-center(row);
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 3rem;
}

.box {
  height: fit-content;
  width: 250px;
  margin: 1rem;
  overflow: hidden;
  & img {
    height: 250px;
    width: 250px;
    border-radius: 1rem;
  }
}

.content {
  padding-top: 1rem;
  // color: ;
}

.user {
  text-decoration: underline;
}

.title {
  font-weight: bold;
  font-size: 1.8rem;
}

.body {
  font-size: 1rem;
}
