// Colours
$backgroundColor: #76ba99;
$primaryColor: #876445;
$secondryColor: #ca955c;
$textColor: #eddfb3;


@mixin flex-center($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
